[k8s-{{ p_name }}-{{ groupnum }}]
ubuntu-{{ p_name }}-{{ groupnum }}-master    ansible_ssh_host={{ groupip }}    ansible_user=ubuntu
ubuntu-{{ p_name }}-{{ groupnum }}-worker-1    ansible_ssh_host={{ groupip+1 }}    ansible_user=ubuntu
ubuntu-{{ p_name }}-{{ groupnum }}-worker-2    ansible_ssh_host={{ groupip+2 }}    ansible_user=ubuntu